<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <h1>Home Page with Express EJS</h1>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad, autem
      soluta? Error repellat perspiciatis autem quis accusantium nesciunt
      corrupti deleniti alias facere neque aliquam sed, dolorem doloribus
      inventore porro quos quidem, iure iste est consequatur soluta? Esse et
      dicta sapiente in molestias, provident iste pariatur ad sit, asperiores
      rerum eum!
    </p>
  </body>
</html>
